body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.welcome-bubble {
    color: white;
    background-color: #ff7f50;
    font-size: 24px;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

#welcome-btn {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#welcome-btn:hover {
    background-color: #ff6347;
}

#welcome-btn:active {
    background-color: #e55d3d;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
    display: none;
    transition:ease transition 0.1s;
}

/* Cacher le formulaire initialement */
.hidden {
    display: none;
}

#login-btn {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6347;
}

button:active {
    background-color: #e55d3d;
}

#error-msg {
    display: none;
    color: red;
    padding: 30px 10px;
}